

/* navbar CSS */

.custom-navbar-bg {
    background-color: darkslategray;
}

.navbar-brand {
    color: white;
}

.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}

.nav-item {
    color: white;
}

.navbar-brand p {
    color: white;
    background-color: lightblue;
}

.navbar-nav .nav-item a {
    color: white;
    margin: 10px;
}

/* Jumbotron CSS */

  .heroBackground {
    height: calc(100vh - 350px);
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heroBackground h1 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    color: black;
    font-size: 2rem;
    background-color: lightblue;

  }

  /* Cards CSS */

  .card {
    margin: 10px;
  }

 /* Footer CSS */
 .footer {
    background-color: darkslategray;
    padding: 15px;
 }

 .contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .contact-links h5 {
    color: white;
    margin: 10px;
 }


.contact-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.contact-links li {
    margin: 0;
    flex: 1.5 0 auto;
}
